
<h2>Choose a Level</h2>
<div class="levelDisplay">
        <form action="/level" method="GET">

<div class="level">
        <a href="level1" class="btn btn-outline-light">Level 1</a>
</div>
<div class="level">
        <a href="level2" class="btn btn-outline-light">Level 2</a>
</div>
<div class="level">
        <a href="level3" class="btn btn-outline-light">Level 3</a>
</div>
        </form>

    <div>