<div class="header">
    <div class="col-md-12 text-center">
    <h1>Spell-It</h1>
    </div>
    </div>

  
<div class="container">
    <div class="col-md-12 text-center">

        <a href="key.html" class="btn btn-outline-light">Key Reference</a>

        <a href="activity.html" class="btn btn-outline-light">Start</a>
        </div>

        <form action="/players" method="POST">

        <input type="text" name="nameItem" placeholder="enter name" class="nameEntered form-control" id="validationTooltip03">

       <!-- <input type="button" value="Player" class="bread btn btn-outline-light"> -->
       <button type="submit" value="Player" class="bread btn btn-outline-light">Player</button>

    </form>
</div>
