<div class="header">
    <div class="col-md-12 text-center">
    <h1>Spell-It</h1>
    </div>
    </div>

  
<div class="container">
    <div class="col-md-12 text-center">
        <a href="activity" class="btn btn-outline-light">Start</a>

</div>

            <form action="/key" method="GET">

                <a href="key" class="btn btn-outline-light">Learn To Sign</a>
</form>

        <form action="/players" method="POST">

        <input type="text" name="nameItem" placeholder="enter name" class="nameEntered form-control" id="validationTooltip03">

       <!-- <input type="button" value="Player" class="bread btn btn-outline-light"> -->
       <button type="submit" value="Player" class="bread btn btn-outline-light">Player</button>

    </form>
</div>
